.chat-main
  .chat-main__group-info
    .info-name
      = @group.name
      .group-items__name
        .info-member
          Member ：&nbsp;
          .info-member__name
            - @group.users.each do |user|
              = user.name
              
    .info-edit
      = link_to edit_group_path(@group) do
        Edit

  .messages
    = render @messages
      
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'form_message', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'input-box__image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
         