.chat-main
  .chat-main__group-info
    .info-name
      test
      %ul.info-member
        %li.info-member__name
        Member : yuichi
    .info-edit
      Edit
  .chat-main__message-list
    .message-lists
      .message-list
        %p.message-list__name
          yuichi
        %p.message-list__date
          2020/6/21(Sun) 00:00:00
      %p.message-comment
        おはよう!
      
      .message-list
        %p.message-list__name
          yuichi
        %p.message-list__date
          2020/6/21(Sun) 01:00:00
      %p.message-comment
        今日は夜から雨
  .chat-main__message-form
    .new-message
      .form
        = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'